/* Colors
 ******************************/
/* Primary
 ***************/
$very-dark-cyan: #00474B;
$dark-grayish-cyan: #5E7A7D;
$grayish-cyan: #7f9c9f;
$light-grayish-cyan: #C5E4E7;
$very-light-grayish-cyan: #F3F9FA;
$white: #FFFFFF;

/* Global Variables
 ******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Space Mono';
    background-color: $light-grayish-cyan;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* Body Variables
 ******************************/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 50px 0 40.86px;
}

.splitter {
    padding: 32px 24px;
    width: 100%;
    max-width: 375px;
    border-radius: 25px 25px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    background: $white;

    &__payment-form {
        max-width: 311px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        gap: 6px;

        position: relative;
    }

    &__if-zero {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        color: #E17457;

        display: none;

        position: absolute;
        right: 0;

        &--active {
            display: block;
        }
    }

    &__form-group-title {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        color: $dark-grayish-cyan;

        &--margin-bottom {
            margin-bottom: 10px;
        }
    }

    &__form-group-input-box {
        position: relative;
    }
    
    &__form-icon {
        position: absolute;
        top: 16.87px;
        left: 19.26px;

        pointer-events: none;
    }

    &__form-group-input {
        padding: 6px 17px 6px 0;
        width: 100%;
        height: 48px;
        border: none;
        background: $very-light-grayish-cyan;
        border-radius: 5px;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: right;

        color: $very-dark-cyan;
        mix-blend-mode: normal;

        &::placeholder {
            color: $very-dark-cyan;
            opacity: 0.35;
        }

        &:focus {
            outline: 2px solid #26C2AE;
        }
    }

    &__form-tips {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px 17px;
    }

    &__user-tip-btn {
        width: 146.63px;
        height: 48px;
    }

    &__user-tip-input {
        display: none;
    }

    &__user-tip-label {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: $very-dark-cyan;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;
        
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        
        color: $white;

        
        &--active {
            background: #26C2AE;
            color: #00474B;
        }
    }

    &__tip-input {
        padding-right: 13px;
        width: 100%;
        height: 48px;
        background: #F3F9FA;
        border-radius: 5px;
        border: none;
        
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: right;

        color: $very-dark-cyan;

        &::placeholder {
            color: #547878;
        }

        &:focus {
            outline: 2px solid #26C2AE;
        }
    }

    &__amount-container {
        margin-top: 32px;
        padding: 37px 22px 24px 24px;
        width: 100%;
        background: #00474B;
        border-radius: 15px;
        
        display: flex;
        flex-direction: column;
    }

    &__amount-inner {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    &__amount-sum {
        display: flex;
        justify-content: space-between;
    }

    &__amount-title {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        color: $white;
    }

    &__amount-subtitle {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 19px;

        color: $grayish-cyan;
    }

    &__sum-result {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 47px;
        text-align: right;
        letter-spacing: -0.666667px;

        color: #26C2AE;
    }

    &__reset-btn {
        margin-top: 32px;
        padding: 9px 0;
        background-color: #0D686D;
        border-radius: 5px;
        border: none;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;

        pointer-events: none;

        &::placeholder {
            color: $very-dark-cyan;
            mix-blend-mode: normal;
            opacity: 0.35;
        }


        &--active {
            pointer-events: auto;
            background-color: #26C2AE;

            &::placeholder {
                color: #00474B;
                opacity: 1;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .splitter {
        &__user-tip-label {
            cursor: pointer;
            transition: color, background-color .5s ease-out;

            &:hover {
                background-color: #9FE8DF;
                border-radius: 5px;
                color: $very-dark-cyan;
            }
        }

        &__form-group-input,
        &__form-group-input,
        &__tip-input {
            cursor: pointer;
            caret-color: #26C2AE;
        }

        &__reset-btn {
            cursor: pointer;

            &:hover {
                background-color: #9FE8DF;
            }
        }
    }
}

@media only screen and (min-width: 920px) {
    .logo {
        margin: 163px 0 87.86px;
    }

    .splitter {
        padding: 32px 32px 32px 48px;
        max-width: 920px;
        height: 481px;
        border-radius: 25px;
        flex-direction: row;
        gap: 48px;


        &__payment-form {
            max-width: 388px;
            gap: 40px;
        }

        &__form-tips {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px 14px;
        }

        &__user-tip-btn {
            width: 117px;
        }

        &__amount-container {
            margin: 0;
            padding: 40px;
            height: 100%;
            justify-content: space-between;
        }

        &__amount-inner {
            gap: 25px;
        }

        &__sum-result {
            font-size: 48px;
            line-height: 71px;
            letter-spacing: -1px;
        }

        &__amount-text-content {
            margin-top: 16px;
        }

    }
}